---
import Main from '../../layouts/Main.astro'

export async function getStaticPaths() {
  const allNotes = await Astro.glob('../notes/*.md')
  allNotes.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
  const allTags = [...new Set(allNotes.map((note) => note.frontmatter.tags).flat())]
  
  return allTags.map((tag) => {
    const filteredNotes = allNotes.filter((note) => note.frontmatter.tags.includes(tag))
    return { params: { tag }, props: { notes: filteredNotes }}
  })
}

const { tag } = Astro.params
const { notes } = Astro.props
const filteredNotes = notes.filter((note) => note.frontmatter.tags?.includes(tag))
const title = `Tag: ${tag}`
---

<Main 
  PageName="Tag"
  TabTitle={title},
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="mb-6 text-xl">{filteredNotes.length} notes tagged with <span class="font-black">{tag}</span>:</div>
  {filteredNotes.map((note) =>
    <div class="flex flex-col justify-between md:flex-row md:mb-3 mb-3 bg-[#1E262F] p-6 text-lg rounded-lg">
      <div><a class="hover:underline" href={note.url}>{note.frontmatter.title}</a></div>
      <div class="text-[#7E8C9A] shrink-0">
        {new Date(note.frontmatter.pubDate).toDateString().slice(4, 15)}
      </div>
    </div>
  )}
</Main>