---
import Main from '../../layouts/Main.astro'
import { getCollection } from 'astro:content'
import NoteItem from '../../components/ui/NoteItem'

export async function getStaticPaths() {
  const allNotes = await getCollection('notes')
  allNotes.sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate))
  const allTags = [...new Set(allNotes.map((note) => note.data.tags).flat())]
  
  return allTags.map((tag) => {
    const filteredNotes = allNotes.filter((note) => note.data.tags.includes(tag))
    return { params: { tag }, props: { notes: filteredNotes }}
  })
}

const { tag } = Astro.params
const { notes } = Astro.props
const filteredNotes = notes.filter((note) => note.data.tags?.includes(tag))
const title = `Tag: ${tag}`
---

<Main 
  PageName="Tag"
  TabTitle={title},
  MetaTitle="Derek Brown", 
  MetaDescription="Developer profile, portfolio and website of Derek Brown.", 
  MetaTag="website", 
  MetaUrl="https://derekbrown.io"
>
  <div class="mb-6 text-lg">{filteredNotes.length} {filteredNotes.length === 1 ? 'note' : 'notes'} tagged with <span class="font-bold">{tag}</span>:</div>
  {filteredNotes.map((note) =>
    <NoteItem note={note} />
  )}
</Main>