---
import Head from './Head.astro'
import GoogleAnalytics from './GoogleAnalytics.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

const { PageName, TabTitle, MetaTitle, MetaDescription, MetaTag, MetaUrl } = Astro.props
---

<html lang="en">
  <Head {TabTitle} {MetaTitle} {MetaDescription} {MetaTag} {MetaUrl} />
  <GoogleAnalytics />
  <body>
    <div class="flex flex-col container mx-auto max-w-2xl h-screen px-7">
      <Navbar {PageName} />
      <div class="flex-grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
