---
import Main from './Main.astro'
import moment from 'moment'
import { Icon } from 'astro-icon/components'

const { frontmatter } = Astro.props
const { title, pubDate, tags, dek, url } = frontmatter
const publishedDate = moment(pubDate).format('MMMM D YYYY')

tags.sort()
---

<style is:global>
  @reference "../styles/global.css";

  .content a {
    @apply text-[#768dff] hover:underline font-bold
  }

  .astro-code {
    @apply p-6 text-base
  }

  p code {
    @apply bg-[#1E262F] text-[#FFA500] px-2 py-1 rounded text-center
  }
</style>

<Main 
  PageName="Note"
  TabTitle={title},
  MetaTitle={title}, 
  MetaDescription={dek}, 
  MetaTag="article",
  MetaUrl={url}
>
  <div class="flex flex-col mb-8">
    <div class="flex mb-5">
      {tags.map(tag => (
        <a href={`/tags/${tag}`}>
          <div class="bg-[#1E262F] px-3 py-2 mr-2 rounded-lg text-sm">
              {tag}
          </div>
        </a>
      ))}
    </div>
    <span class="text-5xl mb-4 font-bold">{title}</span>
    <div class="flex flex-wrap">
      <span class="text-[#7E8C9A] text-lg flex items-center gap-2">
        <Icon name="mdi:calendar-month" width="30" height="30"/> {publishedDate}
      </span>
    </div>
  </div>
  <div class="content flex flex-col gap-4 text-lg">
    <slot />
  </div>
</Main>
