---
import Main from './Main.astro'
import { Icon } from 'astro-icon'

const { frontmatter } = Astro.props
const { title, pubDate, tags, dek, url } = frontmatter

tags.sort()
---

<style is:global>
  #title { 
    @apply font-bold text-xl
  }

  li {
    @apply list-disc list-inside
  }

  .content a {
    @apply text-blue-600 hover:underline
  }

  .astro-code {
    @apply p-6 text-sm
  }

  .content h2 {
    @apply text-2xl font-bold pt-4
  }
</style>

<Main 
  PageName="Note"
  TabTitle={title},
  MetaTitle={title}, 
  MetaDescription={dek}, 
  MetaTag="article",
  MetaUrl={url}
>
  <div class="flex flex-col mb-8">
    <div class="flex mb-5">
      {tags.map(tag => (
        <div class="bg-[#1E262F] px-3 py-2 mr-3 rounded-lg text-sm">
          <a href={`/tags/${tag}`} class="hover:underline">
            {tag}
          </a>
        </div>
        ))}
    </div>
    <span class="font-['Merriweather'] text-5xl mb-4">{title}</span>
    <div class="flex flex-wrap">
      <span class="text-[#7E8C9A] text-lg">
        {new Date(pubDate).toDateString().slice(4, 15)}
      </span>
    </div>
  </div>
  <div class="content flex flex-col gap-4 mb-10 text-lg">
    <slot />
  </div>
</Main>
